
/* jqModal base Styling courtesy of;
       Brice Burgess <bhb@iceburg.net> */

/* The Window's CSS z-index value is respected (takes priority). If none is supplied,
       the Window's z-index value will be set to 3000 by default (via jqModal.js). */
       
.jqmWindow {
    display: none;
    
    position: fixed;
    top: 10%;
    left: 50%;
    
    margin-left: -350px;
    width: 700px;
    
    background-color: #EEE;
    color: #333;
    border: 1px solid black;
    padding: 12px;
}

.jqmConfirmation
{
   background-color: #EEEEEE;
    border: 10px solid #F5E4B8;
    color: #333333;
    display: none;
    left: 60%;
    margin-left: -300px;
    padding: 12px;
    position: fixed;
    top: 40%;
    width: 275px;
}


.jqmTitle
{
     background-color:  #D99E00;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 0;
    text-align: center;
}

.jqmmsg
{
    color: #000;
    font-size: 13px;
    font-weight: bold;
    padding: 5px 0;
    text-align: center;
}

.divRow
{
       margin:10px 0 5px;
       float:left;
       width:100%;
       padding-left:20px;   
}

.divColumn
{
       width:100px;
       float:left;          
}

.divColumn #btnYes 
{
       background:url("../../Images/yes.png");
       width:50px;
       height:30px;
       font-size:0px;
       border:none;
       cursor:pointer;
       margin-left:45px;
}

.divColumn #btnNo 
{
       background:url("../../Images/no.png");
       width:50px;
       height:30px;
       font-size:0px;
       border:none;
       cursor:pointer;
       margin-left:30px;
}


.jqmOverlay { background-color: #000; }

/* Background iframe styling for IE6. Prevents ActiveX bleed-through (<select> form elements, etc.) */
* iframe.jqm {position:absolute;top:0;left:0;z-index:-1;
       width: expression(this.parentNode.offsetWidth+'px');
       height: expression(this.parentNode.offsetHeight+'px');
}

/* Fixed posistioning emulation for IE6
     Star selector used to hide definition from browsers other than IE6
     For valid CSS, use a conditional include instead */
* html .jqmWindow {
     position: absolute;
     top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');
}

