<?xml version="1.0"?>
<configuration>
	<connectionStrings>


		<!--<add name="PocketDCRConnectionString" connectionString="Data Source =172.16.0.38;initial catalog=Atco_Sell; User ID=sa;Password=Pakistan@1947#" providerName="System.Data.SqlClient"/>
		<add name="HudsonCRMEntities2" connectionString="metadata=res://*/BWSD.SaleModel.csdl|res://*/BWSD.SaleModel.ssdl|res://*/BWSD.SaleModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=172.16.0.38;initial catalog=Atco_Sell;persist security info=True;user id=sa;password=Pakistan@1947#;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->


		<add name="PocketDCRConnectionString" connectionString="Data Source =172.16.0.38;initial catalog=AtcoCRM_V2_New; User ID=sa;Password=Pakistan@1947#" providerName="System.Data.SqlClient"/>
		<add name="HudsonCRMEntities2" connectionString="metadata=res://*/BWSD.SaleModel.csdl|res://*/BWSD.SaleModel.ssdl|res://*/BWSD.SaleModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=172.16.0.38;initial catalog=AtcoCRM_V2_New;persist security info=True;user id=sa;password=Pakistan@1947#;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>


		<!--<add name="PocketDCRConnectionString" connectionString="Data Source =108.175.3.111;initial catalog=AtcoCRM_V2; User ID=sa;Password=Karachi@1947#" providerName="System.Data.SqlClient"/>
		<add name="HudsonCRMEntities2" connectionString="metadata=res://*/BWSD.SaleModel.csdl|res://*/BWSD.SaleModel.ssdl|res://*/BWSD.SaleModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=108.175.3.111;initial catalog=AtcoCRM_V2;persist security info=True;user id=sa;password=Karachi@1947#;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
		
		
		

		<!--<add name="PocketDCRConnectionString" connectionString="Data Source =172.16.0.38;initial catalog=ATCO_Sell; User ID=sa;Password=Pakistan@1947#" providerName="System.Data.SqlClient"/>
		<add name="HudsonCRMEntities2" connectionString="metadata=res://*/BWSD.SaleModel.csdl|res://*/BWSD.SaleModel.ssdl|res://*/BWSD.SaleModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=172.16.0.38;initial catalog=AtcoCRM_V2_New;persist security info=True;user id=sa;password=Pakistan@1947#;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->

		<!--<add name="PocketDCRConnectionString" connectionString="Data Source =172.16.0.38;initial catalog=AtcoCRM_V2_New; User ID=sa;Password=Pakistan@1947#" providerName="System.Data.SqlClient"/>

		<add name="PocketDCRConnectionString" connectionString="Data Source =172.16.0.38;initial catalog=AtcoCRM_V2_New; User ID=sa;Password=Pakistan@1947#" providerName="System.Data.SqlClient"/>
		<add name="HudsonCRMEntities2" connectionString="metadata=res://*/BWSD.SaleModel.csdl|res://*/BWSD.SaleModel.ssdl|res://*/BWSD.SaleModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=172.16.0.38;initial catalog=AtcoCRM_V2_New;persist security info=True;user id=sa;password=Pakistan@1947#;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
		--><!--<add name="PocketDCRConnectionString" connectionString="Data Source =172.16.0.38;initial catalog=AtcoCRM_V2_New; User ID=sa;Password=Pakistan@1947#" providerName="System.Data.SqlClient"/>-->

		<!--<add name="HudsonCRMEntities2" connectionString="metadata=res://*/BWSD.SaleModel.csdl|res://*/BWSD.SaleModel.ssdl|res://*/BWSD.SaleModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local);initial catalog=AtcoCRM_V1;persist security info=True;user id=sa;password=Pakistan1234;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->

	</connectionStrings>
	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
		<add key="var1" value="Some Value"/>
		<add key="smtpServer" value=""/>
		<add key="smtpAuthonticate" value="true"/>
		<add key="smtpSender" value=""/>
		<add key="smtpPassword" value=""/>
		<add key="smtpPort" value="26"/>
		<add key="smtpSSL" value="false"/>
		<add key="DisplayResetPassword" value="false"/>
		<add key="monthsToKeepCredentials" value="6"/>
		<add key="CrystalImageCleaner-AutoStart" value="true"/>
		<add key="CrystalImageCleaner-Sleep" value="60000"/>
		<add key="CrystalImageCleaner-Age" value="120000"/>
		<add key="Server" value=""/>
		<add key="UserId" value=""/>
		<add key="Password" value=""/>
		<add key="UserId" value=""/>
		<add key="Password" value=""/>
		<add key="Smtphost" value=""/>
		<add key="AutoEmailID" value="crmsupport@bmcsolution.com"/>
		<add key="AutoEmailIDpass" value="CYu4UAi.urKM"/>
		<add key="AutoEmailSMTP" value="grand.vivawebhost.com"/>
		<add key="AllowedNSMEmpIDsForCustomerDetailPage" value="4802,5111,5112,5113,5114,5115,5116,5117,5118,5119,5120,5121,5122,5123,5124,5125,5126,5127,5128,5129,5130,5131,5132,5133,5134,5135,5136,5137" />
		<add key="aspnet:MaxHttpCollectionKeys" value="20000"/>
		<add key="aspnet:MaxJsonDeserializerMembers" value="20000"/>
		<add key="DCRValidDays" value="90"/>
		<add key="DomainURLForMapView" value="http://203.92.5.38/AtcoCRM"/>
		<add key="Range" value="100"/>
		<add key="emaildomain" value="@atcopharma.com"/>
		<add key="MapsAPIKey" value="78c3bed7357a51"/>
		<add key="txtpath" value="C:\CRMLogs\ATCOCRM\SecondarySalesData"/>
		<add key="Excel" value="C:\CRMLogs\ATCOCRM\Excel"/>
		<add key="Logs" value="C:\CRMLogs\ATCOCRM\Logs"/>
		<add key="Logs\" value="C:\CRMLogs\ATCOCRM\Logs\"/>
		<add key="ImagesSuccesLog\" value="C:\CRMLogs\ATCOCRM\Logs\ImagesSuccesLog\"/>
		<add key="MobileService-Logs" value="C:\CRMLogs\ATCOCRM\MobileService\Logs"/>
		<add key="MobileService-Logs\" value="C:\CRMLogs\ATCOCRM\MobileService\Logs\"/>
		<add key="Pharma-Logs" value="C:\CRMLogs\ATCOCRM\Logs"/>
		<add key="Pharma-Logs/" value="C:\CRMLogs\ATCOCRM\Logs\"/>
		<add key="MobileApplicationVersions" value="1.0.1,1.0.7,1.0.8,1.1.2,2.0.8"/>
		<!--1.0.1 use for IOS Mobile Version-->
		<add key="ExecutionRestrictionFlag" value="true"/>
		<add key="ExpenseExecutionImagesPath" value="../Atco/Uploads/ExpenseCallExecutionImages"/>
		<add key="ExpenseIndividualImagesPath" value="../Atco/Uploads/ExpenseIndiviualImages"/>
		<add key="GeoFencingForExecution" value="../Atco/Uploads/ExpenseIndiviualImages"/>
		<add key="ExpenseAdmin" value="4789"/>
		<add key="AdminCoordinator" value="5539"/>
		<add key="AutosmtpSSL" value="false"/>
		<add key="CCAddress" value="ali@atcolab.com"/>
		<!-- // CHEAT SHEET FOR PASSWORD RECOVERY //
    
    Default,            // If No Or Wrong Code Value Specified Sends Email Only
    EmailOnly,          // CODE :: 1
    EmailAndShow,       // CODE :: 2
    EmailAndSMS,        // CODE :: 3
    ShowOnly            // CODE :: 4 
    -->
		<add key="RecoveryMethod" value="4"/>
	</appSettings>
	<location path="Form/Login.asmx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.
    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
	<system.web>
		<webServices>
			<protocols>
				<add name="HttpGet"/>
				<add name="HttpPost"/>
			</protocols>
		</webServices>
		<httpRuntime executionTimeout="350000" maxRequestLength="104857600"/>
		<customErrors mode="Off"/>
		<compilation debug="true" targetFramework="4.5">
			<assemblies>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<!--<add assembly="log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>-->
				<!--<add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea551e1304"/>-->
				<add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
				<!--<add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>-->
				<add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
				<add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
				<add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
				<add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
			</assemblies>
			<buildProviders>
				<add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			</buildProviders>
		</compilation>
		<authentication mode="Forms">
			<forms loginUrl="~/Form/Login.aspx" timeout="2880"/>
		</authentication>
		<machineKey validationKey="A824CBB621ECE844049C3AECFC29D4787A3A885F967D869F583652354BC84E9D024D892095840E819C8C31DB958281C8BD06726AFF29F5DA570954569C967C7B" decryptionKey="94F47FCF06DA386D32E66201C8491FE38282D09933012C56" validation="SHA1"/>
		<membership defaultProvider="CustomMemebershipProvider">
			<providers>
				<clear/>
				<add name="CustomMemebershipProvider" type="PocketDCR.CustomMembershipProvider.CustomMemebership" connectionStringName="PocketDCRConnectionString" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="true" requiresUniqueEmail="true" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" passwordFormat="Hashed"/>
			</providers>
		</membership>
		<roleManager defaultProvider="CustomRoleProvider" enabled="true">
			<providers>
				<clear/>
				<add name="CustomRoleProvider" type="PocketDCR.CustomMembershipProvider.CustomRoleProvider" connectionStringName="PocketDCRConnectionString" applicationName="/"/>
			</providers>
		</roleManager>
		<profile>
			<providers>
				<clear/>
				<add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
			</providers>
		</profile>
		<siteMap defaultProvider="XmlSiteMapProvider" enabled="true">
			<providers>
				<clear/>
				<add name="XmlSiteMapProvider" description="Default SiteMap Provider." type="System.Web.XmlSiteMapProvider" siteMapFile="Web.sitemap" securityTrimmingEnabled="true"/>
			</providers>
		</siteMap>
		<sessionState timeout="420000"/>
		<httpHandlers>
			<add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
			<add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
		</httpHandlers>
		<pages controlRenderingCompatibilityVersion="4.0"/>
	</system.web>
	<system.web.extensions>
		<scripting>
			<webServices>
				<jsonSerialization maxJsonLength="50000000"/>
			</webServices>
		</scripting>
	</system.web.extensions>
	<system.serviceModel>
		<services>
			<service behaviorConfiguration="PocketDCR2.Reports.WCF_ImageUploaderBehavior" name="PocketDCR2.Reports.WCF_Image">
				<endpoint address="" binding="webHttpBinding" bindingConfiguration="fileUploadCapable" contract="PocketDCR2.Reports.IWCF_Image">
					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
			<service name="PocketDCR2.WebService.MobileService">
				<endpoint address="" binding="webHttpBinding" bindingConfiguration="HttpBindingForCallExecution" contract="PocketDCR2.WebService.IMobileService">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="PocketDCR2.Reports.WCF_ImageUploaderBehavior">
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
				<behavior name="">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<protocolMapping>
			<add binding="basicHttpsBinding" scheme="https"/>
		</protocolMapping>
		<bindings>
			<webHttpBinding>
				<binding name="fileUploadCapable" maxReceivedMessageSize="500000000" transferMode="Streamed"/>
				<binding name="HttpBindingForCallExecution" maxReceivedMessageSize="10485760" maxBufferSize="10485760">
					<readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
					<security mode="None" />
				</binding>
			</webHttpBinding>
		</bindings>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
		<handlers>
			<add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			<!--<add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>-->
		</handlers>
		<validation validateIntegratedModeConfiguration="false"/>
		<urlCompression doDynamicCompression="true"/>
		<directoryBrowse enabled="true"/>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="104857600"/>
			</requestFiltering>
		</security>
	</system.webServer>
</configuration>